services:
  nginx:
    image: "nginx:1.29.4-alpine"
    restart: always
    working_dir: /app
    links:
      - php
    volumes:
      - "./www:/app"
      - "./nginx/nginx.conf:/etc/nginx/conf.d/default.conf"
    ports:
      - "8080:80"

  php:
    build: php
    restart: always
    working_dir: /app
    links:
      - db
    volumes:
      - "./www:/app"

  db:
    image: "mariadb:11.4"
    restart: always
    working_dir: /app
    volumes:
      - "./www:/app"
      - "./db/data:/var/lib/mysql"
      - "./db/logs:/var/log/mysql"
      - "./db/conf:/etc/mysql"
      - "./db/db_init:/docker-entrypoint-initdb.d"
    environment:
      MARIADB_ROOT_PASSWORD: "${MARIADB_ROOT_PASSWORD}"
      MARIADB_DATABASE: "${MARIADB_DATABASE}"
    ports:
      - "3306:3306"